<!--   <ul id="user-collection">
    <script id="user-template" type="text/x-handlebars-template">
    <li class="user">
    <h3>{{first_name}} {{last_name}}</h3>
    <p>{{coat_color}} {{breed}} {{animal_type}}</p>
    <p>{{long_date}}</p>
    </li>
    <hr>
    </script>
  </ul>
 -->