<center>
  <div class="required_info_div">
    <div id="loginForm">
      <a href="/login">Login with Linkedin</a>
    </div>
  </div>
   <% if logged_in? %>
    <h1>Welcome <%= current_user.email %>.</h1>
    <% end %>

    <% if logged_in? %>
    <script>
    $("#logindiv").remove()
    </script>
    <% end %>
</center>
