<%= render partial: "login" %>

<!-- <div id="my_map"></div> -->
<!-- <input id="pac-input" class="controls" type="text" placeholder="Search Box"> -->
<center>
<form class="getLoc">
  <input type="search" id="autocomplete" class="autocomplete">
  <input type="text" id="lat" style="display: none;">
  <input type="text" id="lng" style="display: none;">
  <input type="submit" value="Search">
</form>
</center>


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>


