<%= render partial: "login" %>

<div id="my_map"></div>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<input type="search">
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
