
/*--------- start login form stuff --------------------------- */

#logindiv{
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, 0.85);
  /*display: none;*/
  z-index: 999;
}

#loginForm, #signupForm{
  display: none;
  position: relative;
  top: 30%;
}

#logindiv .form {
  border-radius:2px;
  padding:20px 30px;
  box-shadow:0 0 15px;
  font-size:14px;
  font-weight:bold;
  width:350px;
  margin: auto;
}

#logindiv .form label {
  font-family: sans-serif;
}

#logindiv .form h3 {
  font-family: sans-serif;
}


#logindiv input[type=button]{
    background-color:#123456;
    border:1px solid white;
    font-family: sans-serif;
    font-size:18px;
    color:white;
    width:49%;
}

#logindiv input{
    width:20%;
    height:35px;
    margin-top:5px;
    border:1px solid #999;
    border-radius:3px;
    padding:5px;
}



#buttons{
  list-style: none;
  position: absolute;
  top: 40%;
  left: 34%;
  padding: 0;
}

#buttons li{
  display: inline-block;
}

#buttons li button, .goBack{
    width: 200px;
    height:45px;
    margin-top:5px;
    border:1px solid #999;
    border-radius:3px;
    padding:5px;
}

.goBack{
  margin-bottom: 10px;
}